{% block navigation %}
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">Pryvacy</a>
    </div>
    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('feed') }}">Feed</a></li>
        <li><a href="#">Users</a></li>
      </ul>
      {% if session.get('user') %}
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" href="#">
            {{ session['user']['username'] }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('register') }}">Register</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
      </ul>
      {% endif %}

    </div> <!-- / navbar.collapse -->

  </div>
</nav>
{% endblock %}
