{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% if error %}
      <div class="alert alert-danger" role="alert">
        <strong>Error</strong> {{ error }}
      </div>
      {% endif %}
      <div class="panel panel-default">
        <div class="panel-body">
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#dashboard" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#encryption" role="tab" data-toggle="tab">Encryption</a></li>
            <li role="presentation"><a href="#message" role="tab" data-toggle="tab">Message</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" role="tabpanel" id="dashboard">
              <div class="row">
                <div class="col-md-8">
                  <textarea class="form-control key-area" id="public-key" readonly data-select>{{ public_key }}</textarea>
                  <button class="btn btn-default" id="gen">
                    Generate PGP Keys
                  </button>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="encryption">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="key">Key</label>
                    <textarea class="form-control" id="key" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="plaintext">Plain Text</label>
                    <textarea class="form-control" id="plaintext" rows="3"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="ciphertext">Encrypted Text</label>
                    <textarea class="form-control" id="ciphertext" rows="3"></textarea>
                  </div>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-default" id="encrypt">
                    Encrypt
                  </button>
                  <button class="btn btn-default" id="decrypt">
                    Decrypt
                  </button>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="message">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="recipient">Recipient</label>
                    <textarea class="form-control" id="recipient" rows="1"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="message-body">Body</label>
                    <textarea class="form-control" id="message-body" rows="3"></textarea>
                  </div>
                </div>
                <div class="col-md-2">
                  <button class="btn btn-default" id="send">
                    Send
                  </button>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-4">
                  <table id="messages" class="table table-sorter">
                    <thead>
                      <tr>
                        <th>date</th>
                        <th>sender</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for x in messages %}
                      <tr class="{{ 'success' if x['read'] else 'danger' }}">
                        <td></td>
                        <td></td>
                      {% endfor %}
                    </tbody>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="recieved-message-body">Message</label>
                    <textarea class="form-control" id="recieved-message-body" rows="3"></textarea>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block post_body %}
<script type="text/javascript">

// This looks like a smell. I wouldn't do whatever this is doing.
$('.pull-down').each(function() {
  $(this).css('margin-top', $(this).parent().height()-$(this).height())
});

/**
 * Consider using jQuerys .serialize function to extract data from forms easily.
 * $('#my-form').serialize() // return 'foo=bar&hello=world'
 * That can be passed directly to the `data` attribute in Ajax functions (via jQuery)
 */

$(document).on('click', '#gen', function() {
  $.ajax({
    url: "{{ url_for('genkeys') }}",
    type: "GET",
    data: {
      username: "{{ session['user']['username'] }}",
      user_id: "{{ session['user']['_id'] }}"
    },
    success: function(response) {
      $("#public-key").val(response.key);
    },
    error: function(error) {
      console.log(error);
    }
  });
});


$(document).on('click', '#encrypt', function() {
  $.ajax({
    url: "{{ url_for('encrypt') }}",
    type: "GET",
    data: {
      key: $('#key').val(),
      plaintext: $('#plaintext').val()
    },
    success: function(response) {
      $("#ciphertext").text(response.ciphertext);
    },
    error: function(error) {
      console.log(error);
    }
  });
});


$(document).on('click', "#decrypt", function() {
  $.ajax({
    url: "{{ url_for('decrypt') }}",
    type: "GET",
    data: {
      key: $('#key').val(),
      ciphertext: $('#ciphertext').val()
    },
    success: function(response) {
      $('#plaintext').text(response.plaintext);
    },
    error: function(error) {
      console.log(error);
    }
  });
});


$(document).on('click', "#send", function() {
  $.ajax({
    url: "{{ url_for('send_message') }}",
    type: "GET",
    data: {
      message: $('#message-body').val(),
      recipient: $('#recipient').val(),
      sender: "{{ session['user']['username'] }}"
    },
    success: function(response) {
      alert("message sent")
    },
    error: function(error) {
      console.log(error);
    }
  });
});

$(document).on('click', '[data-select]', function () { this.select(); })

</script>
{% endblock %}
