{% extends "layout.html" %}
{% block title %}Feed{% endblock %}

{% block body %}
    <div class="container center-vertically">
      <div class="row">
        <div class="col-md-9 col-md-offset-1">
          {% for x in messages %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>
                <span class="text-primary">{{ x['sender'] }}</span>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <span class="text-success">{{x ['recipient'] }}</span>
                <span class="text-danger pull-right">{{ x['ip'] }}</span>
                <span class="text-warning pull-right">{{ x['browser'] }}</span>
              </h4>
            </div>
            <div class="panel-body">
              <p class="key-area"> {{ x['body'] }}</p>
            </div>
            <div class="panel-footer">
              {{ x['timestamp'][:-7] }}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
