{% extends "layout.html" %}
{% block title %}Feed{% endblock %}

{% block body %}
		<div class="container center-vertically">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h4>
					      <span class="text-primary">bobsyeruncle</span>
					      <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
					      <span class="text-success">sallyspy</span>
								<span class="text-danger pull-right">127.0.0.1</span>
								<span class="text-warning pull-right">chrome</span>
					    </h4>
					  </div>
					  <div class="panel-body">
					    This is a super top secret message that nobody should ever see ever unless they want to be flagged as a super spy and have government agents tracking their data exchange over the web.
					  </div>
						<div class="panel-footer">
							2016-01-29 22:04:32
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
